@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700|Material+Icons');

html
	font-family Lato
	font-weight 400
	h1, h2, h3, h4, h5, h6
		font-family Montserrat
		font-weight 700